---

import ServicesSection from "../components/ServicesSection.astro";
import PageHero from "../components/PageHero.astro";
import ProjectsSection from "../components/ProjectsSection.astro";
import Services from "../components/Services.astro";
import ContactSection from "../components/ContactSection.astro";
import DefaultLayout from "../layouts/DefaultLayout.astro";
import CurtainsSection from "../components/CurtainsSection.astro";

import SafetyNetsSection from "../components/SafetyNetsSection.astro";
import FencingSection from "../components/FencingSection.astro";
const metadata = {
  title: 'Sundeco | Cortinas, Redes y Cercos',
  description: 'Sundeco ofrece soluciones integrales en cortinas, redes de protección y cercos removibles.  Elegancia, seguridad y funcionalidad para tu hogar en Rosario, Funes y Roldán. Calidad y servicio en Rosario, Funes y Roldán.',
  keywords: 'Sundeco, cortinas Rosario, redes de protección Funes, cercos removibles Roldán, cortinas enrollables, cortinas roller, cortinas blackout, redes de seguridad balcones, redes para terrazas, cercos para piscinas, seguridad en piscinas Rosario, diseño y funcionalidad Funes, soluciones para el hogar Roldán, cortinas roller, rollermarket, casa roller, rollershade, grupo printemps, cortinas roller en rosario, casa roller, ',
  url: Astro.url
};
---

<DefaultLayout {...metadata}>
 
  
  <div id="container">

    
    <div class="section">
      <PageHero />
    </div>

    <div class="section">
      <CurtainsSection />
    </div>
    <hr class="border-t h-[2px] w-[70%] text-center bg-gray-400 m-auto">
    <div class="section">
      <ServicesSection />
    </div>
    <hr class="border-t h-[2px] w-[70%] text-center bg-gray-400 m-auto">
    <div class="section">
      <SafetyNetsSection />
    </div>
    <div class="section">
      <FencingSection />
    </div>
    <div class="section">
      <ProjectsSection />
    </div>

    <div class="section">
      <Services />
    </div>

    <div id="contacto" class="section">
      <ContactSection />
    </div>
  </div>


 
</DefaultLayout>