<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
	<link rel="shortcut icon" href="/favicon.svg" type="image/x-icon">
	<link rel="icon" href="/favicon.svg" type="image/x-icon">
	
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link 
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" 
      rel="stylesheet"
    />
    <title>Sundeco - Cortinas, Redes y Cercos</title>
  </head>
  <body class="min-w-screen">
    <slot />
  </body>
</html>

<style is:global>
  /* Resetting margins and paddings */
  html, body {

    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif; /* Setting Inter as the default font */
  }

  /* Navigation and footer fixed positions */
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
  }

  /* Utility classes for fixed buttons */
  .scroll-to-top, 
  .whatsapp-button {
    position: fixed;
    z-index: 1000;
  }
</style>
